// Colors
$primary-blue: hsl(220, 98%, 61%);

/* Light Theme */
$v-light-gray: hsl(0, 0%, 98%);
$v-light-gray-blue: hsl(236, 33%, 92%);
$v-dark-gray-blue: hsl(235, 19%, 35%);
$l-gray-blue: hsl(233, 11%, 84%);
$d-gray-blue: hsl(236, 9%, 61%);

/* Dark Theme */
$v-dark-blue: hsl(235, 21%, 11%);
$v-dark-desat-blue: hsl(235, 24%, 19%);
$dt-l-gray-blue: hsl(234, 39%, 85%);
$dt-l-gray-blue-hover: hsl(236, 33%, 92%);
$dt-dark-gray-blue: hsl(234, 11%, 52%);
$dt-v-dark-gray-blue: hsl(233, 14%, 35%);
$dt-v-dark-gray-blue-two: hsl(237, 14%, 26%);

// Links
$bg-desktop-dark: url("images/bg-desktop-dark.jpg");
$bg-desktop-light: url("images/bg-desktop-light.jpg");
$bg-mobile-dark: url("images/bg-mobile-dark.jpg");
$bg-mobile-light: url("images/bg-mobile-light.jpg");
$icon-check: url("images/icon-check.svg");
$icon-cross: url("images/icon-cross.svg");
$icon-moon: url("images/icon-moon.svg");
$icon-sun: url("images/icon-sun.svg");


// Fonts
$font: "Josefin Sans", sans-serif;


/* 
Map the SCSS variables to CSS variables.
All of these or none of these may be end up being used in components. It was done for the sake of practice and examples for reference in the future.
*/
:root {
  --icon-check: #{$icon-check};
  --icon-cross: #{$icon-cross};
  --icon-moon: #{$icon-moon};
  --icon-sun: #{$icon-sun};
  --bg-desktop-dark: #{$bg-desktop-dark};
  --bg-desktop-light: #{$bg-desktop-light};
  --bg-mobile-dark: #{$bg-mobile-dark};
  --bg-mobile-light: #{$bg-mobile-light};
}