/* Base styles for the CreateTodo component */
.createTodo {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 8px 12px rgba(0,0,0,.3);

  /* Dark mode and light mode styles are nested */
  &.dark {
    background-color: $v-dark-desat-blue;

    input {
      background-color: $v-dark-desat-blue;
      border: none;
      font-family: inherit;
      color: $dt-l-gray-blue;

      &::placeholder {
        color: $dt-l-gray-blue;
        opacity: .4;
      }
    }

    .circle {
      border: 2px solid $dt-v-dark-gray-blue;
    }
  }

  &.light {
    background-color: #fff;

    input {
      border: none;
      font-family: inherit;
      font-weight: 500;
      opacity: .7;

      &::placeholder {
      color: $d-gray-blue;
      }
    }

    .circle {
      border: 2px solid $v-light-gray-blue;
    }
  }

  input {
    flex-grow: 1;
    padding: 10px 0 10px 15px;
    font-size: 19px;
    font-weight: 600;
    border-radius: 5px;
    outline: none;
  }

  span.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 10px 2px 15px;
    opacity: 1;
  }
}
