/* Base styles for the CreateTodo component */
.createTodo {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  // width: 100%;

  /* Dark mode and light mode styles are nested */
  &.dark {
    background-color: $v-dark-desat-blue;

    input {
      background-color: $v-dark-desat-blue;
      border: none;
      color: white;
      font-family: inherit;
    }

    .circle {
      border: 2px solid $dt-v-dark-gray-blue-two;
      opacity: 1;
    }
  }

  &.light {
    background-color: #fff;
    // color: $v-light-gray;

    input {
      background-color: #f5f5f5;
      border: none;
      color: #333;
      font-family: inherit;
    }

    .circle {
      opacity: 0;
    }
  }

  input {
    flex-grow: 1;
    padding: 10px 0 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
  }

  span.circle {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 0 10px 2px 15px;
    opacity: 1;
  
  }
}
