.todoList {
  border-radius: 5px;
  padding: 0 0 0;
  margin-top: 15px;

  /* Dark mode */
  &.dark {
    background-color: $v-dark-desat-blue;

    .todoItem {
      border-bottom: 1px solid $dt-v-dark-gray-blue-two;
    }

    .footer {
      border-top: 1px solid $dt-v-dark-gray-blue-two;
    }
  }

  /* Light mode */
  &.light {
    background-color: $v-light-gray;

    .todoItem {
      &:nth-child(2n) {
        border-bottom: 1px solid $v-light-gray-blue;
      }
    }

    .footer {
      border-top: none;
      color: $v-dark-gray-blue;
    }
  }
}

/* Individual todo item styling */
.todoItem {
  display: flex;
  align-items: center;
  padding: 15.91px 0;
  
  .radioButton {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $dt-v-dark-gray-blue-two;
    margin: 0 10px 2px 30px;
    cursor: pointer;
  }

  .todoText {
    padding: 10px 0 10px 15px;
    flex-grow: 1;
    color: $dt-l-gray-blue;
    cursor: pointer;
  }
}

/* Footer section for filtering and clear options */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 10px;
  font-size: 14px;

  span,
  .clearCompleted {
    padding: 10px 0px 10px 30px;
    opacity: .2;
  }

  .filters {
    display: flex;
    gap: 20px;
    padding: 10px 0 10px;

    button {
      background: none;
      border: none;
      cursor: pointer;
      color: inherit;
      opacity: .2;

      &:hover {
        color: $dt-l-gray-blue-hover;
        opacity: 1;
      }

      &:active {
        color: $primary-blue;
        opacity: 1;
      }

      &:focus {
        color: $primary-blue;
        opacity: 1;
      }
    }
  }

  .clearCompleted {
    background: none;
    border: none;
    color: inherit;
    padding-right: 30px;
    cursor: pointer;

    &:hover {
      color: $dt-l-gray-blue-hover;
      opacity: 1;
    }
    
    &:active {
      color: $primary-blue;
      opacity: 1;
    }
  }
}
